---
import "glider-js/glider.min.css";
---

<script>
  import Glider from "glider-js";

  new Glider(document.querySelector(".glider"), {
    slidesToShow: 1,
    slidesToScroll: 1,
    draggable: true,
    dots: ".dots",
    arrows: {
      prev: ".glider-prev",
      next: ".glider-next",
    },
  });
</script>
<section class="glider-contain">
  <div class="glider">
    <slot />
  </div>
  <button class="glider-prev" data-tooltip-id="tooltip" data-tooltip-html="Click to go the <b>previous</b> item, or swipe">«</button>
  <button class="glider-next" data-tooltip-id="tooltip" data-tooltip-html="Click to go to the <b>next</b> item, or swipe">»</button>
</section>
